<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatispractice.features.blog.repository.BlogMapper">

    <!-- findByAll --> 
    <select id="findByAll" resultType = "com.example.mybatispractice.features.blog.domain.DTO.BlogResponseDTO">
        SELECT ID, TITLE, CONTENT, CATEGORY, EMAIL FROM SPRING_POST_TBL
    </select>    

    <!-- save --> 
    <insert id="save" parameterType = "com.example.mybatispractice.features.blog.domain.DTO.BlogRequestDTO">
        INSERT INTO SPRING_POST_TBL(ID, TITLE, CONTENT, CATEGORY, EMAIL)
        VALUES(NEXTVAL(POSTID), #{title}, #{content}, #{category}, #{email})
    </insert>

    <!-- findById --> 
    <select id="findById" parameterType = "java.lang.Integer" resultType = "com.example.mybatispractice.features.blog.domain.DTO.BlogResponseDTO">
        SELECT ID, TITLE, CONTENT, CATEGORY, EMAIL
        FROM SPRING_POST_TBL
        WHERE ID = #{postId}
    </select>
</mapper>