<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatispractice.features.users.repository.UserMapper">
    <!-- UserMapper의 메서드 이름을 id로 전달 -->
    <insert id="save" parameterType="com.example.mybatispractice.features.users.domain.DTO.UserRequestDTO">
        <!-- UserRequestDTO의 getter로 values를 자동으로 채움 -->
        INSERT INTO SPRING_USER_TBL(EMAIL, PASSWORD, NAME)
        VALUES(#{email}, #{password}, #{name})
    </insert>

    <!-- findByAll --> 
    <!-- 명세를 보고 반환 타입을 List<UserResposeDTO>로 맞춰줌 -->
    <!-- setter가 없기 때문에 builder 패턴으로 객체를 만듬(버전마다 다름) -->
    <select id="findByAll" resultType="com.example.mybatispractice.features.users.domain.DTO.UserResponseDTO">
        SELECT EMAIL, PASSWORD, NAME FROM SPRING_USER_TBL
    </select>

    <!-- login --> 
    <select id="signIn" parameterType="com.example.mybatispractice.features.users.domain.DTO.UserRequestDTO" resultType="com.example.mybatispractice.features.users.domain.DTO.UserResponseDTO">
        SELECT EMAIL, PASSWORD, NAME FROM SPRING_USER_TBL
        WHERE EMAIL = #{email} AND PASSWORD = #{password}
    </select>
</mapper>